@model SectionD.Models.Message
<form asp-action="Save" method="Post">
    <div class="form-group">
        <textarea asp-for="Text" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" >Post</button>
</form>
