@model SectionD.Models.Message

<div><p>Your Secret Message has been saved.</p></div>
<div><p>To retrieve, use Key: <b>@Html.DisplayFor(Model => Model.Id)</b></div>
<p>
    <a asp-action="Redeem">Redeem</a>
</p>

